.my-navbar{
    background: teal;
}
.nav-item{
    color: black;
}

.hio{
    font-size: x-large;
    font-weight: bold;
    padding-right: 2%;
}
.hio:hover{
    color: skyblue;
    text-shadow: 2px 2px 5px blue;
  
}
.n1{
    font-size: large;
    font-weight: bold;
}

.n2{
    cursor: pointer;
}
.hell{
    padding-right: 5%;
}
.helli{
    font-size: large;
    font-weight: bold;
    padding-left: 5%;
}

