.my-navbar{
    background: teal;
}
.nav-item{
    color: black;
}
.hoe{
    color: cornsilk;
}
.hio{
    font-size: larger;
    font-weight: bold;
    padding-right: 2%;
}
.hio:hover{
    color: #F9CAEC;
    
}
.hlo{
    text-align: right;
}
.oo{
  padding-right: 0.1%;
}
.button1{
    margin: none;
}
