.headerr{
    text-align: center;
    padding-top: 5%;
    background-image: url(https://image.freepik.com/free-vector/memphis-pattern_1045-810.jpg);
    padding-bottom: 5%;
}
.ho{
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 3%;
}
.container{
    font-family: 'Epilogue', sans-serif;
}
.container-fluid{
    font-family: 'Epilogue', sans-serif;
}
.dem{
    font-family: 'Epilogue', sans-serif;
}
.Images{
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(https://www.freepik.com/free-vector/abstract-wavy-shape-pattern-blank-background-set_8998552.htm#page=1&query=pattern&position=12);
}
.info{
    padding-top: 5%;
    background-image: url(https://image.freepik.com/free-vector/memphis-pattern_1045-810.jpg);
    padding-left: 17%;
}
.footerr{
    margin-top: 4%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #66b2b2;
    border-bottom: 40px solid teal;
}
.foothead{
    padding-top: 2.5%;
    text-align: center;
  
}
.contacts{
    padding-left: 3.5%;
}
.org{
    text-align: right;
    padding-right: 3.5%;
}


  .lelo{
      padding-left: 3%;
      padding-top: 5%;
      padding-bottom: 2%;
      font-size: 40px;
      font-weight: 900;
  }
  
  .namo{
      padding-top: 1%;
      background-color: #ffea66;
      border-top: 4px solid #d0b12b;
      border-bottom: 4px solid #d0b12b;
    }
  .naam{
      font-size: 30px;
      font-weight: 500;
  }
  .Note{
      margin-top: 4%;
      padding-left: 10% ;
      font-size: x-large;
      border: 2px solid  #66b2b2;
  }
.jk{
    margin-bottom: 4%;
}